:root {
  --bs-body-bg: #282828;
  --bs-body-color: #ebdbb2;
  --bs-primary: #458588;
  --bs-secondary: #a89984;
  --bs-success: #98971a;
  --bs-info: #83a598;
  --bs-warning: #d79921;
  --bs-danger: #cc241d;
  --bs-light: #a89984;
  --bs-dark: #1d2021;

  --bs-primary-rgb: 69, 133, 136;
  --bs-secondary-rgb: 168, 153, 132;
  --bs-success-rgb: 152, 151, 26;
  --bs-info-rgb: 131, 165, 152;
  --bs-warning-rgb: 215, 153, 33;
  --bs-danger-rgb: 204, 36, 29;
  --bs-light-rgb: 168, 153, 132;
  --bs-dark-rgb: 29, 32, 33;

  --bs-white: #ebdbb2;
  --bs-black: #1d2021;
  --bs-blue: #458588;
  --bs-indigo: #b16286;
  --bs-purple: #b16286;
  --bs-pink: #b16286;
  --bs-red: #cc241d;
  --bs-orange: #d65d0e;
  --bs-yellow: #d79921;
  --bs-green: #98971a;
  --bs-teal: #689d6a;
  --bs-cyan: #689d6a;

  --bs-border-color: #7c6f64;
  --bs-border-color-translucent: rgba(124, 111, 100, 0.5);

  --bs-link-color: #83a598;
  --bs-link-hover-color: #b8bb26;
  --bs-code-color: #b16286;

  --bs-tertiary-bg: #3c3836;
}

body {
    font-family: 'JetBrains Mono', monospace;
}

a {
    font-weight: bold;
}

.btn {
    font-weight: bold;
}
